<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../vendors/6.4.15.0/shopware/core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Settings</title>
        <title lang="de-DE">Einstellungen</title>
        <title lang="nl-NL">Instellingen</title>

        <input-field type="colorpicker">
            <name>backgroundColor</name>
            <label>Background Color</label>
            <label lang="de-DE">Hintergrundfarbe</label>
            <label lang="nl-NL">Achtergrond kleur</label>
            <defaultValue>var(--white)</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>backgroundAccentColor</name>
            <label>Background Accent Color</label>
            <label lang="de-DE">Hintergrund-Akzentfarbe</label>
            <label lang="nl-NL">Achtergrond accentkleur</label>
            <defaultValue>var(--light)</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>borderColor</name>
            <label>Border Color</label>
            <label lang="de-DE">Farbe der Umrandung</label>
            <label lang="nl-NL">Randkleur</label>
            <defaultValue>rgb(0 132 144 / 15%)</defaultValue>
        </input-field>

        <input-field type="int">
            <name>borderSize</name>
            <label>Border Size</label>
            <label lang="de-DE">Dicke der Umrandung</label>
            <label lang="nl-NL">Dikte van de rand</label>
            <defaultValue>1</defaultValue>
        </input-field>

        <input-field type="int">
            <name>borderType</name>
            <label>Border Type</label>
            <label lang="de-DE">Typ der Umrandung</label>
            <label lang="nl-NL">Randtype</label>
            <defaultValue>solid</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>titleColor</name>
            <label>Title Color</label>
            <label lang="de-DE">Titel Farbe</label>
            <label lang="nl-NL">Titel kleur</label>
            <defaultValue>var(--primary)</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>timerColor</name>
            <label>Timer Color</label>
            <label lang="de-DE">Timer Farbe</label>
            <label lang="nl-NL">Timer kleur</label>
            <defaultValue>var(--danger)</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>textColor</name>
            <label>Text Color</label>
            <label lang="de-DE">Textfarbe</label>
            <label lang="nl-NL">Tekstkleur</label>
            <defaultValue>var(--dark)</defaultValue>
        </input-field>
    </card>
</config>