

.block_zeobv_day_deal_component {
    border: 1px solid black;
    width: 50%;
    height: 650px;
    border-radius: 25px;
}

h2 {
    text-align: center;
}

.product-slider-item {
    text-align: center;
}
